# Dependencies
node_modules/

# Build outputs
dist/
build/
drizzle.config.js

# Local environment variables (sensitive)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
